In [0]:
n_lst = [[[1,3],[3,4]],[5,[5,6],[7,8]]]
n_lst[1][1][1]

6

In [0]:
name = [['Louis','Agassiz',45],['Mary','Anning',75],['Robert','Goddard',25],['Thomas','Gold',54]]
print(name)

[['Louis', 'Agassiz', 45], ['Mary', 'Anning', 75], ['Robert', 'Goddard', 25], ['Thomas', 'Gold', 54]]

In [0]:
del name[3]
print(name)

[['Louis', 'Agassiz', 45], ['Mary', 'Anning', 75], ['Robert', 'Goddard', 25]]

In [0]:
name.insert(0,['Thomas','Gold',54])
print(name)

[['Thomas', 'Gold', 54], ['Louis', 'Agassiz', 45], ['Mary', 'Anning', 75], ['Robert', 'Goddard', 25]]

In [0]:
name[1][2]=85
print(name)

[['Thomas', 'Gold', 54], ['Louis', 'Agassiz', 85], ['Mary', 'Anning', 75], ['Robert', 'Goddard', 25]]