16) หาค่าเฉลี่ยของตั๋วโดยสารแบบที่นั่งชั้น 1 2 3

In [ ]:
import numpy as np
import pandas as pd
from google.colab import files
import io

uploaded = files.upload()

Saving train.csv to train.csv

In [ ]:
df = pd.read_csv('train.csv')

In [ ]:
df2=df[['Pclass','Fare']]
#df2
df2.groupby(['Pclass']).mean()

             Fare
Pclass
1       84.154687
2       20.662183
3       13.675550

In [ ]:
check = df2.groupby(['Pclass'])
check.describe()

         Fare
        count       mean        std  min       25%      50%   75%       max
Pclass
1       216.0  84.154687  78.380373  0.0  30.92395  60.2875  93.5  512.3292
2       184.0  20.662183  13.417399  0.0  13.00000  14.2500  26.0   73.5000
3       491.0  13.675550  11.778142  0.0   7.75000   8.0500  15.5   69.5500