14) หาคนจ่ายค่าโดยสารถูกที่สุดพร้อมบอกชื่อ อายุ และรอดชีวิตไหม

In [ ]:
import numpy as np
import pandas as pd
from google.colab import files
import io

uploaded = files.upload()

Saving train.csv to train.csv

In [ ]:
df = pd.read_csv('train.csv')

In [ ]:
min_fare = df['Fare'].min()

In [ ]:
df2 = df[df['Fare']==min_fare][['Name','Age','Survived','Fare']]
df2

                                 Name   Age  Survived  Fare
179               Leonard, Mr. Lionel  36.0         0   0.0
263             Harrison, Mr. William  40.0         0   0.0
271      Tornquist, Mr. William Henry  25.0         1   0.0
277       Parkes, Mr. Francis "Frank"   NaN         0   0.0
302   Johnson, Mr. William Cahoone Jr  19.0         0   0.0
413    Cunningham, Mr. Alfred Fleming   NaN         0   0.0
466             Campbell, Mr. William   NaN         0   0.0
481  Frost, Mr. Anthony Wood "Archie"   NaN         0   0.0
597               Johnson, Mr. Alfred  49.0         0   0.0
633     Parr, Mr. William Henry Marsh   NaN         0   0.0
674        Watson, Mr. Ennis Hastings   NaN         0   0.0
732              Knight, Mr. Robert J   NaN         0   0.0
806            Andrews, Mr. Thomas Jr  39.0         0   0.0
815                  Fry, Mr. Richard   NaN         0   0.0
822   Reuchlin, Jonkheer. John George  38.0         0   0.0